html {
    font-size: 62.5%;
}

/* iPhone 4 range */

@media (min-width:0px) and (max-width:480px) {
    html {
        font-size: 1.0em;
    }

    input[type='text'] {
        width: 70%;
        padding: 3px;
    }
    button {
        margin-left: 5px;
        padding:3px;
    }
    fieldset {
        border: 0px;
        width: 100%;
    }
       
    .movie-title {
        width: 100%;
        text-align: center;
    }

    .js-poster {
        width: 80%;
        margin: 15px auto;
    }

    .movie-poster {
        display: block;
        width: 100%;
        height: 100%;
        border: 5px double white;
    }

    ul {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    
    li {
        list-style: none;
    }
    .movie-description {
        width: 100%;
        text-align: center;
    }
    
    .movie-plot {
        width: 100%;
        margin: 15px 0;
    }
    
    .vid {
        width: 100%;
        margin: 10px auto;
        border: 5px double white;
    }


}

/* larger than iPhone landscape, an in the iPad portrait range */

@media (min-width:481px) and (max-width:768px) {
    html {
        font-size: 1.1em;
    }

    input[type='text'] {
        width: 90%;
        padding: 3px;
    }
    button {
        margin-left: 5px;
        padding:3px;
    }
    fieldset {
        border: 0px;
        width: 100%;
    }
       
    .movie-title {
        width: 100%;
        text-align: center;
    }

    .js-poster {
        width: 80%;
        margin: 15px auto;
    }

    .movie-poster {
        display: block;
        width: 100%;
        height: 100%;
        border: 5px double white;
    }

    ul {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    
    li {
        list-style: none;
    }
    .movie-description {
        width: 100%;
        text-align: center;
    }
    
    .movie-plot {
        width: 100%;
        margin: 15px 0;
    }
    
    .video-container {
        margin-top: 35px;
    }

    .vid {
        width: 100%;
        margin: 10px auto;
        border: 5px double white;
    }

}

/* bigger than iPad portrait  */

@media (min-width:769px) {
    html {
        font-size: 1.2em;
    }

    input[type='text'] {
        width: 90%;
        padding: 3px;
    }
    button {
        margin-left: 5px;
        padding:3px;
    }
    fieldset {
        border: 0px;
        width: 100%;
    }
       
    .movie-title {
        width: 100%;
        text-align: center;
    }

    .js-poster {
        width: 40%;
        margin: 15px auto;
    }

    .movie-poster {
        display: block;
        width: 100%;
        height: 100%;
        border: 5px double white;
    }

    ul {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    
    li {
        list-style: none;
    }
    .movie-description {
        width: 100%;
        text-align: center;
    }
    
    .movie-plot {
        width: 100%;
        margin: 15px 0;
    }
    
    .video-container {
        margin-top: 40px;
    }

    .vid {
        width: 60%;
        margin: 10px auto;
        border: 5px double white;
    }
}

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    color: #E0FFFF;
}

legend {
    display: block;
    width: 100%;
    text-align: center;
}

.thumb {
    width: 100%;
}

.title {
    text-align: center;
}